
@{
    ViewData["Title"] = "AccesssDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-md" style="padding:80px;">


    <div class="row">

<h1 class="text-danger"> Access Denied </h1> <br/>

    </div>
    <br />
    <div class="container">
        <a asp-action="Index" asp-controller="Home" style="padding" class="btn btn-danger"> Back to home page </a>
    </div>

</div>

<br />