
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_LayoutDashboard";
}



	<div class="row" style="padding:10px;">
    <div class="col-md-2">
        <div class="sidebar content-box" style="display: block;">
            <ul class="nav">

                <li class="current"><a asp-action="Index" asp-controller="Home"><i class="glyphicon glyphicon-home"></i> Main Page</a></li>
                <li><a asp-action="PlaceDashboard" asp-controller="Account"><i class="glyphicon glyphicon-folder-open"></i> Places</a></li>
                <li><a asp-action="RolesList" asp-controller="Account"><i class="glyphicon glyphicon-star"></i> Roles</a></li>
                <li><a asp-action="CreateGuide" asp-controller="Service"><i class="glyphicon glyphicon-user"></i> Guides</a></li>
                <li><a asp-action="CreatePost" asp-controller="Service"><i class="glyphicon glyphicon-pencil"></i> Posts</a></li>

            </ul>
        </div>
    </div>

	</div>

