@model IEnumerable<Place>
@{
    ViewData["Title"] = "Place";
    Layout = "_Layout";
}


<!-- Header Start -->
<div class="container-fluid page-header">
    
    <div class="container">
        <div  class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
           
            <h3 class="display-4 text-white text-uppercase">Places</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" asp-action="Index" asp-controller="Home">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Places</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Destination Start -->

<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Places</h6>
            <h1>Explore Top Places </h1>
           
        </div>
        <div class="row">
      
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="~/Image/@item.PlaceImage" alt="">
                        <a class="destination-overlay text-white text-decoration-none" asp-action="PlaceDetail" asp-route-id="@item.PlaceId">
                            <h5 class="text-white">@item.PlaceName</h5>
                           <span>@item.PlaceDescription</span>
                        </a>
                   
                    </div>
                </div>
            }
         
          
        </div>
    </div>
</div>
<!-- Destination Start -->
